<!-- Footer -->
<footer style="color: darkgray;background-color: black;" class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
          <p>You can Contact us at XXXXXXXX</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Return Policy</h5>
          <p>You will be able to return the product within 7 days. Terms and conditions applied</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a> my-shopping-cart.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->